*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
.cabecera{
	background: #fff;
	margin: 1000;
	padding-top: 5px;
}

.titulo{
	padding-top: 30px;
	padding-bottom: 100px;
	padding-left: 100px;
}

.slogan{
	text-align: right;
	color: #0097e6;
	font: 20px bold;
	padding-right: 50px;
}
.slogan ul li{
	list-style: none;
}

.navegacion ul{
	background: #000000;
	font: 18px;
	text-align: right;
	margin-top: 20px;
	padding-top: 15px;
	padding-right: 50px;
	padding-bottom: 15px;
	list-style: none;
	border-top: 3px solid #00b894;
}

.navegacion li{
	display: inline-block;
	margin-right: 30px;
}

.navegacion a{
	color: #f5f6fa;
	text-decoration: none;
}

.navegacion a:hover{
	color: #00b894;
}

.imagen{
	image-resolution: snap;
}

.nosotros{
	background:#d7992d;
	color:#ffffff;
	margin: 1000;
	padding: 50px;
	text-align: right;
	padding-top: 70px;
	padding-bottom: 70px;
	padding-right: 100px;
}

.portafolio_link{
	padding-top: 20px;
	list-style: none;
}

.portafolio_link a{
	color: #f5f6fa;
	text-decoration: none;
}

.portafolio_link a:hover{
	color: #d7992d;
}

.servicios{
	margin: 1000;
	padding-left: 100px;
	padding-top: 70px;
	padding-bottom: 70px;
	padding-right: 100px;
}

section h2{
	padding-bottom: 10px;
	font: 30px sans-serif;
}

section p{
	font: 18px sans-serif;
}

section h3{
	font: 18px sans-serif;
}


.portafolio_titulo{
	font-size: 30px;
	text-align: left;
	padding-left: 20px;
}

.obras{
	background: #10ac84;
	color: #fff;
	padding: 50px 50px;
}

.capacitaciones{
	background: #ffffff;
	color: #000000;
	padding: 50px 50px;
}


.productos{
	background:#d7992d;
	color:#222f3e;
	padding: 50px 50px;
}



.contacto{
	background: #218c74;
	color: #fff;
	text-align: center;
	margin: 1000;
	padding: 50px 20px;
	border-bottom: 2px solid #ffb142;
}

.contacto h2{
	font-family: 'Quicksand', sans-serif;
}

.pie_pagina{
	background: #222f3e;
	color: #fff;
	padding-top: 25px;
	padding-bottom: 25px;
	padding-left: 20px;
	text-align: center;
}

.pie_pagina ul{
	list-style: none;
	text-align: left;
	display: inline-block;
	margin-right: 900px;

}

.pie_pagina a{
	color: #f5f6fa;
}

.pie_pagina a:hover{
	color: #00b894;
}
