*{
	margin: 1000;
	padding: 0;
	box-sizing: border-box;
	font: sans-serif;
}

.current {
	color: red;
}

h1{
	color: blue;
}

.cabecera{
	background: #fff;
	margin: 1000;
	padding-top: 10px;
  padding-right: 50px;
  padding-bottom: 210px;
  padding-left: 50px;
}

.titulo{
	text-align: left;
	color: #222f3e;
	font: 50px sans-serif;
}

.slogan{
	text-align: right;
	color: #10ac84;
	font: 18px sans-serif;
}

.navegacion{
	background: #000;
	color: #fff;
	font: sans-serif;
	padding-top: 10px;
	padding-right: 500px;
	box-sizing: border-box;
	text-align: center;
}

.nosotros{
	background: #10ac84;
	margin: 1000;
	padding: 50px;
	text-align: right;
	font: sans-serif;
	padding-right: 100px;
}

.servicios{
	background: #c8d6e5;
	margin: 1000;
	padding: 50px 20px;
	font: sans-serif;
	padding-left: 100px;
}

section h2{
	font: 30px sans-serif;
}

section p{
	font: 18px sans-serif;
}

section h3{
	font: 18px sans-serif;
}


.portafolio_titulo{
	font-family: sans-serif;
	font-size: 30px;
	text-align: left;
	padding-left: 20px;
}

.obras{
	background: #10ac84;
	color: #fff;
	padding: 50px 50px;
}

.capacitaciones{
	background: #ffffff;
	color: #000000;
	padding: 50px 50px;
}


.productos{
	background:#d7992d;
	color:#222f3e;
	padding: 50px 50px;
}



.contacto{
	background: #1dd1a1;
	color: #fff;
	text-align: center;
	margin: 1000;
	padding: 50px 20px;
}

.contacto h2{
	font: sans-serif;
}


footer{
	background: #222f3e;
	color: #fff;
	margin: 1000;
	padding-top: 10px;
	padding-right: 50px;
	padding-bottom: 10px;
	padding-left:50px;
	text-align: center;
}
