<!DOCTYPE html>
<html lang="es">

<head>
	<title>Yammva Ecosistemas</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="/assets/css/styles.css">
	<link rel="icon" type="image/png" href="assets/images/icono-verde.png">
  
</head>

<body>

	 <header class="cabecera">

    <section class="titulo">
      <div>
         <a href="/"><img href="/" src="assets/images/yammva-ecosistemas-1.png" width="400px" align="left"></a>
      </div>
    </section>

  {% include nav.html %}

    </header>

    <main>
  {{ content }}
    </main>

  <footer>
    <section id="tercera_division" class="contacto">
      <h2>Contacto</h2>
      <span>¡No dudes en consultarnos! <br>
      Solicitá más información y con gusto te asesoraremos</span>
      <ul>
        <li>Email: yammva@gmail.com</li>
        <li>Whatsapp: 3854098146</li>
        <li>Facebook: Yammva Ecosistemas</li>
      </ul>
    </section>

    <section class="pie_pagina">
      <ul>
        <li>  <span class="politica"><a href="">Politica Legal</a> </span></li>
        <li>   <span class="politica"><a href="">Datos</a> </span></li>
      </ul>
      <span> Copyleft 🄯 Yammva Ecosistemas </span>
    </section>
  </footer>

</body>
