<!DOCTYPE html>
<html lang="es">

<head>
	<title>Yammva Ecosistemas</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="/assets/css/styles.css">
	<link rel="icon" type="image/png" href="">
  
</head>

<body>
	{% include nav.html %}
  {{ content }}

    <section id="tercera_division" class="contacto">
      <h2>Contacto</h2>
      <span>¡No dudes en consultarnos! <br>
      Solicitá más información y con gusto te asesoraremos</span>
      <ul>
        <li>Email: yammva@gmail.com</li>
        <li>Whatsapp: 3854098146</li>
        <li>Facebook: Yammva Ecosistemas</li>
      </ul>
    </section>
  </main>

  <footer class="pie_pagina">
    <pre>
      <h5>Sitio diseñado por Y&A Sustainable Web Design</h5>
      <h5> Copyleft 🄯 Yammva Ecosistemas</h5>

      <span class="politica"><a href="">Politica Legal</a> </span>
      <span class="politica"><a href="">Datos</a> </span>

    </pre>
  </footer>

</body>
